@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --violet:#C63BFA;
    --shadow:#0000004d;
    --c_bg: #d1d8e1;
    --c_blue1: #8bb7f0;
    --c_blue2: #4ea5e0;
    --c_h1: #033557;
    --c_pink1: #ed5592;
    --c_pink2: #f78f8f;
    --white: #ffffff;
    --black: #000000;
}

*{
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
    outline: none;
    margin: 0; padding: 0;
    box-sizing: border-box;
}

*::selection{
    background: var(--c_blue2);
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.heading{
    font-size: 5rem;
    color: var(--c_pink1);
    text-align: center;
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 6rem;
    letter-spacing: .2rem;
    font-weight: 500;
}

.title{
    padding: 0 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: 400;
    color: #aaa;
}

header{
    width: 96%;
    background:#fff;
    position: fixed;
    top: 2em; left:50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    z-index: 1000;
    transition: .2s;
}

.header-active{
    top: 0;
    width: 100%;
    border-radius: 0;
    box-shadow: 0 .1rem .3rem var(--shadow);

}

header .navbar ul{
    display:flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

header .navbar ul li{
    margin: 0 1rem;
}

header .navbar ul li a{
  font-size: 2rem;
  color: var(--c_blue2);
  transition: .2s;
}

header .navbar ul li .active,
header .navbar ul li a:hover{
    color: var(--c_pink1);
}

header .logo img{
    width: 40%;
}


header .fa-bars{
    font-size: 3rem;
    color: var(--c_blue2);
    cursor: pointer;
    display: none;
    transition: .2s linear;
}

header .fa-bars:hover{
    color: var(--c_pink1);
}

.footer{
    text-align: center;
    background: #ffffffcc;
}

.footer .icons{
    padding: 3rem 0;
}

.footer .icons a{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.2rem;
    text-align: center;
    border-radius: 50%;
    color: var(--c_blue2);
    border: .2rem solid var(--c_blue2);
    font-size: 2rem;
    margin: 0 .1rem;
    transition: .2s linear;
}

.footer .icons a:hover{
    color: var(--white);
    background: var(--c_pink2);
    border-color: var(--c_pink2);
}

.footer .creditos{
    font-size: 2rem;
    border-top: .1rem solid #999;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: #666;
    width: 90%;
    padding: 1rem 0;
}

.footer .creditos span{
    color: var(--c_blue2);
}

@media (max-width:768px){
    header .logo img{
        width: 50%;
    }

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: -100rem; left: 0;
        width: 100%;
        background:var(--white);
        border-radius: 1rem;
        opacity: 0;
    }

    header .navbar ul{
        flex-flow: column;
        padding: 1rem 0;
    }

    header .navbar ul li{
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a{
        font-size: 3rem;
        display: block;
    }

    header .nav-toggle{
        top: 8rem;
        opacity: 1;
    }

}